h2 {
    text-align: center;
    color: white;
    background-color:#0e5ea2 ;
}


p-card {
    
font-style: italic;

}

.cancel {
    margin-left: 180px;
}

.p-button {
    background-color: #0e5ea2;
}
