
<p-toast></p-toast>
<h2> View Customer Details</h2>
<div class="dd">

<div>
    <div>
        <label> <b> First Name : </b></label> {{customer.firstName}}
    </div>
    <div>
        <label> <b> Last Name : </b></label> {{customer.lastName}}
    </div>
    <div>
        <label> <b> Email Id : </b></label> {{customer.email}}
    </div>
    <div>
        <label> <b> Gender : </b></label> {{customer.gender}}
    </div>
    <div>
        <label> <b> Date of Birth : </b></label> {{customer.dob | date:"MM/dd/yyyy"}}
    </div>
    <div>
        <label> <b> Phone Number : </b></label> {{customer.phone}}
    </div>
    <div>
        <label> <b> Location : </b></label> {{customer.location}}
    </div>
</div>
</div>
<div  class="button">
<button type="button" pButton pRipple (click)="showSuccess()" label="Back"></button>
<button type="button" pButton pRipple (click)="showError()" label="Edit" class="p-button-info"></button></div>