<h3> View Customer Details</h3>
<div>
    <div>
        <label> <b> First Name : </b></label> {{customer.firstName}}
    </div>
    <div>
        <label> <b> Last Name : </b></label> {{customer.lastName}}
    </div>
    <div>
        <label> <b> Email Id : </b></label> {{customer.email}}
    </div>
    <div>
        <label> <b> Gender : </b></label> {{customer.gender}}
    </div>
    <div>
        <label> <b> Date of Birth : </b></label> {{customer.dob | date:"MM/dd/yy"}}
    </div>
    <div>
        <label> <b> Phone Number : </b></label> {{customer.phone}}
    </div>
    <div>
        <label> <b> Location : </b></label> {{customer.location}}
    </div>
</div>