

<!-- <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-12" *ngFor="let data of user">
        <h3>Name: {{data.fname}}</h3>
        <h4>Age: {{data.lname}}</h4>
        <h5>Email: {{data.email}}</h5>
        <h4>Password :{{data.password}}</h4>
        <hr>

    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <h3>Name: {{data.fname}}</h3>
        <h4>Age: {{data.lname}}</h4>
        <h5>Email: {{data.email}}</h5>
        <h4>Password :{{data.password}}</h4>
        <hr>

    </div>
</div> -->

<h2> Employee List</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> First Name</th>
            <th> Last Name </th>
            <th> Email Id</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let employee of user" >
            <td> {{ employee.firstName }} </td>
            <td> {{ employee.lastName }} </td>
            <td> {{ employee.emailId }} </td>
            <td>
                <button (click) = "update()" class = "btn btn-info"> Update</button>
                <button (click) = "update" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button (click) = "update" class = "btn btn-info" style="margin-left: 10px"> View</button>
            </td>
        </tr>
    </tbody>
</table>
