.imagebody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 81vh;
    background-attachment: fixed;
    background-color: blanchedalmond;
  }
  .content {
    font-family: sans-serif;
    font-size: 50px;
    width: 100%;
    text-align: center;
  }





























 
