.imagebody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 77vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('https://images.unsplash.com/photo-1542042161784-26ab9e041e89?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8aW5kaWFuJTIwd2VkZGluZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');  }

  .content {
    font-family: sans-serif;
    font-size: 50px;
    width: 100%;
    text-align: center;
  }





























 
