<h2> Customers List</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> First Name</th>
            <th> Last Name </th>
            <th> Email Id</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let data of user" >
            <td> {{ data.firstName }} </td>
            <td> {{ data.lastName }} </td>
            <td> {{ data.email}} </td>
            <td>
                <span class="p-buttonset">
                    <button pButton type="button"  [disabled]="true" label="Update  " (click) = "update()"></button>
                    <button pButton type="button"  [disabled]="true" label="View"  (click) = "view()"></button>
                </span>
                
            </td>
        </tr>
        <tr  *ngIf="isValid">
            <td> {{ data.firstName }} </td>
            <td> {{ data.lastName }} </td>
            <td> {{ data.email}} </td>
            <td>
                <span class="p-buttonset">
                    <button pButton type="button"   label="Update" (click) = "update()"></button>
                    <button pButton type="button"   label="View"  (click) = "view()"></button>
                </span>
            </td>
        </tr>
    </tbody>
</table>




