
// register.component.scss
.sizes {
    .p-inputtext {
        display: block;
        margin-bottom: .5rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

p-card{
  width:100px;
}


.p-field * {
    display: block;
}
